# build directories
build*

# Log directory for testing
Testing

# local configuration directory
.vscode

# Downloaded sources and data
MATH77
GCN2022
emis_diag_2021_GDN

# Generated sources
*__genmod.f90

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
a.out
gmon.out
*.app

# Code coverage files (unit tests)
*.spi
*.spl
*.dyn
*.200
*.dpi
*.dpi.lock

# OPS output files
*.log

# vim
.*.sw[o-z]

top
make_top
tst/resources/tst_m_ops_plot_class_uitv_NH3_classoutput.csv
tst/tst_m_ops_read_ctr2.in
